@font-face {
    font-family: 'Gilroy Light';
    src: url('Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('Gilroy-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Medium';
    src: url('Gilroy-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boldstrom';
    src: url('Boldstrom\ D.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}